
  <%= render 'intermediary_prod_search' %>

  <table class="table" border = 1>
    <thead>
      <tr>
        <%= content_tag :th, "INTM" %>
        <%= content_tag :th, "INTM_NO" %>
        <%= content_tag :th, "INTM_TYPE" %>
        <%= content_tag :th, "ISS_NAME" %>
        <%= content_tag :th, "PA" %>
        <%= content_tag :th, "AH" %>
        <%= content_tag :th, "CA" %>
        <%= content_tag :th, "EN" %>
        <%= content_tag :th, "FI" %>
        <%= content_tag :th, "MC" %>
        <%= content_tag :th, "MH" %>
        <%= content_tag :th, "MN" %>
        <%= content_tag :th, "SU" %>
        <%= content_tag :th, "AV" %>
        <%= content_tag :th, "PREM" %>
      </tr>
    </thead>

    <tbody>
      <% @intermediary_productions_values.each do | prod | %>
      <%# @intermediary_productions_values1.each do | prods | %>
      <% @intermediary_productions.each do |premium| %>

        <tr>
          <%= content_tag :td, prod[0][0] %>
          <%= content_tag :td, prod[0][1] %>
          <%= content_tag :td, prod[0][2] %>
          <%= content_tag :td, prod[0][3] %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%= content_tag :td, premium.int_prem_amt %>
          <%#= content_tag :td, prod[1] %>

          <%#= content_tag :td, policy.intermediary&.name %>
          <%#= content_tag :td, policy.intermediary&.no %>
          <%#= content_tag :td, policy.intermediary&.type %>
          <%#= content_tag :td, policy.issource.issue_name %>
          <%#= content_tag :td, policy.sum(linecd_pa), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_ah), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_ca), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_en), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_fi), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_mc), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_mh), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_mn), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_su), align: "right" %>
          <%#= content_tag :td, policy.sum(linecd_av), align: "right" %>
          <%#= content_tag :td, policy.sum(pre_amt).to_s(:delimited), align: "right" %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <%= content_tag :div, page_entries_info(@intermediary_productions_values) %>
     <%= paginate @intermediary_productions_values, :param_name => 'group_page' %>
     <%#= will_paginate @intermediary_productions, :param_name => 'value_page' %>
  <!-- </div>
 -->
