<p id="notice"><%= notice %></p>


<h2>INTERMEDIARY INFORMATION</h2>

<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Intermediary No.</div>
  <div class="col-sm-4 intm" style="height: 50px;"><%= @intermediary.no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Parent Intermediary No.</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.parnt_intm_no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Intermediary Name</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.name %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Nickname</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.nickn %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Email Address</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.email %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Cellphone No.</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.cell_no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Phone No.</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.phon_no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Fax No.</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.faxno %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Home Address</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.homeadd %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Birthdate</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.bday %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Address</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.address %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Issue Source</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.iss_source %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Tin</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.tin_no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Parent Intermediary Tin</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.parnt_intm_tin_sw %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Withholding Tax Rate</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.wtaxrate %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Input Vat Rate</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.invat_rate %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Special Rate</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.spec_rate %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Payment</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.paymnt %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Billing Address</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.bill_add %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Contact Person</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.contact_person %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Intermediary Type</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.int_type_desc %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Co Intermediary Type</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.cointm_type %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Issuing Office</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.issuing_office %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Corporate</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.corp %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Effectivity Date</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.effi_date %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Expiry Date</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.exp_date %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >License</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.license_no %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Status: (Legend: A - Active, I - Inactive)</div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.show_status %></div>
</div>
<div class="row", style="height: 50px;">
  <div class="col-sm-4 intm " style="height: 50px;" >Remarks </div>
  <div class="col-sm-4 intm " style="height: 50px;" ><%= @intermediary.rem %></div>
</div>

<br>
<center>  <%= link_to "Back" , request.referer.present? ? request.referer : default_path, class: 'btn btn-large btn-primary' %> </center>
