<p id="notice"><%= notice %></p>


<h2>INTERMEDIARY INFORMATION</h2>

<div class="row">
  <div class="col-sm-4">Intermediary No.</div>
  <div class="col-sm-6"><%= @intermediary.no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Parent Intermediary No.</div>
  <div class="col-sm-6"><%= @intermediary.parnt_intm_no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Intermediary Name</div>
  <div class="col-sm-6"><%= @intermediary.name %></div>
</div>
<div class="row">
  <div class="col-sm-4">Nickname</div>
  <div class="col-sm-6"><%= @intermediary.nickn %></div>
</div>
<div class="row">
  <div class="col-sm-4">Email Address</div>
  <div class="col-sm-6"><%= @intermediary.email %></div>
</div>
<div class="row">
  <div class="col-sm-4">Cellphone No.</div>
  <div class="col-sm-6"><%= @intermediary.cell_no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Phone No.</div>
  <div class="col-sm-6"><%= @intermediary.phon_no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Fax No.</div>
  <div class="col-sm-6"><%= @intermediary.faxno %></div>
</div>
<div class="row">
  <div class="col-sm-4">Home Address</div>
  <div class="col-sm-6"><%= @intermediary.homeadd %></div>
</div>
<div class="row">
  <div class="col-sm-4">Birthdate</div>
  <div class="col-sm-6"><%= @intermediary.bday %></div>
</div>
<div class="row">
  <div class="col-sm-4">Address</div>
  <div class="col-sm-6"><%= @intermediary.address %></div>
</div>
<div class="row">
  <div class="col-sm-4">Issue Source</div>
  <div class="col-sm-6"><%= @intermediary.iss_source %></div>
</div>
<div class="row">
  <div class="col-sm-4">Tin</div>
  <div class="col-sm-6"><%= @intermediary.tin_no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Parent Intermediary Tin</div>
  <div class="col-sm-6"><%= @intermediary.parnt_intm_tin_sw %></div>
</div>
<div class="row">
  <div class="col-sm-4">Withholding Tax Rate</div>
  <div class="col-sm-6"><%= @intermediary.wtaxrate %></div>
</div>
<div class="row">
  <div class="col-sm-4">Input Vat Rate</div>
  <div class="col-sm-6"><%= @intermediary.invat_rate %></div>
</div>
<div class="row">
  <div class="col-sm-4">Special Rate</div>
  <div class="col-sm-6"><%= @intermediary.spec_rate %></div>
</div>
<div class="row">
  <div class="col-sm-4">Payment</div>
  <div class="col-sm-6"><%= @intermediary.paymnt %></div>
</div>
<div class="row">
  <div class="col-sm-4">Billing Address</div>
  <div class="col-sm-6"><%= @intermediary.bill_add %></div>
</div>
<div class="row">
  <div class="col-sm-4">Contact Person</div>
  <div class="col-sm-6"><%= @intermediary.contact_person %></div>
</div>
<div class="row">
  <div class="col-sm-4">Intermediary Type</div>
  <div class="col-sm-6"><%= @intermediary.int_type_desc %></div>
</div>
<div class="row">
  <div class="col-sm-4">Co Intermediary Type</div>
  <div class="col-sm-6"><%= @intermediary.cointm_type %></div>
</div>
<div class="row">
  <div class="col-sm-4">Issuing Office</div>
  <div class="col-sm-6"><%= @intermediary.issuing_office %></div>
</div>
<div class="row">
  <div class="col-sm-4">Corporate</div>
  <div class="col-sm-6"><%= @intermediary.corp %></div>
</div>
<div class="row">
  <div class="col-sm-4">Effectivity Date</div>
  <div class="col-sm-6"><%= @intermediary.effi_date %></div>
</div>
<div class="row">
  <div class="col-sm-4">Expiry Date</div>
  <div class="col-sm-6"><%= @intermediary.exp_date %></div>
</div>
<div class="row">
  <div class="col-sm-4">License</div>
  <div class="col-sm-6"><%= @intermediary.license_no %></div>
</div>
<div class="row">
  <div class="col-sm-4">Status: (Legend: A - Active, I - Inactive)</div>
  <div class="col-sm-6"><%= @intermediary.show_status %></div>
</div>
<div class="row">
  <div class="col-sm-4">Remarks</div>
  <div class="col-sm-6"><%= @intermediary.rem %></div>
</div>

<br>
<center>  <%= link_to "Back" , request.referer.present? ? request.referer : default_path, class: 'btn btn-large btn-primary' %> </center>
