<div class="panel-group">
    <div class="panel panel-default text-center">

      <div class="panel-heading">
        <h3 class="panel-title">Search / Filter</h3>
      </div>

      <div class="panel-body">
        <%= form_tag("intm_prod_search", method: "get") do %>

            <div id="from" class='col-md-5'>
              <div class="form-group">
                <%= label_tag  "FROM" %>

                <div class='input-group date' id='datetimepicker6'>
                  <%= text_field_tag :start_date , params[:start_date], class: 'form-control' %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <div id="to" class='col-md-5'>
              <div class="form-group">
                <%= label_tag  "TO" %>

                <div class='input-group date' id='datetimepicker7'>
                  <%= text_field_tag :end_date , params[:end_date], class: 'form-control'%>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            <form id="output-buttons" class="form-horizontal">
              <div class="btn-group">
                <%= submit_tag("Search" , class: "btn btn-primary") %>
              </div>
            </form>

        <% end %>
      </div>

    </div>
  </div>
