<p id="notice"><%= notice %></p>

<h1>Production of Intermediaries</h1>

<%= render 'search_bar2' %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Intermediary</th>
      <th>No.</th>
      <th>Type</th>
      <th>Branch</th>
      <% ["FI" , "MC" , "PA", "CA", "EN", "MN", "AH", "MH", "SU", "AV"].each do |line| %>
        <%= content_tag :th, line %>
      <% end %>
      <%= content_tag :th, "TOTAL PREM" %>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do | intermediary | %>

      <% @policies = intermediary.policies.search_date(@start_date, @end_date) %>

      <tr>

          <td><%= link_to(truncate(intermediary.name, length: 40), productions(intermediary)) %></td>
          <td><%= intermediary.no %></td>
          <td><%= intermediary.type %></td>
          <td><%= intermediary.issue_source %></td>
          <% ["FI" , "MC" , "PA", "CA", "EN", "MN", "AH", "MH", "SU", "AV"].each do |line| %>
            <td>
              <% @policies.group_by(&:line_cd).each do | line_code, policies | %>
                <% if line.include? line_code  %>
                    <%= currency(policies.collect(&:pre_amt).sum) %><br>
                    <%= content_tag :small, pluralize(policies.count, 'policy') %><br>
                <% end %>
              <% end %>
            </td>
          <% end %>

        <%= content_tag :td, currency(@policies.collect(&:pre_amt).sum) %>
      </tr>

    <% end %>
  </tbody>
</table>

<%= content_tag :div, page_entries_info(@productions) %>
<%= paginate @productions, theme: 'twitter-bootstrap-4' %>
