<p id="notice"><%= notice %></p>


<h2>INTERMEDIARY PRODUCTION</h2>

  <div><%= @product.name %></div>
  <div><%= @product.no %></div>
  <div> </div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Policy ID</th>
      <th>Line Code</th>
      <th>Premium Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @product.policies.order_by_line_cd.search_date('2017-04-01', '2017-04-30').each do |pol| %>

    <td><%= pol.id %></td>
    <td><%= pol.line_cd %></td>
    <td><%= pol.prem_amt %></td>

  </tbody>
  <% end %>
</table>
<%= content_tag :small, pluralize(@product.policies.order_by_line_cd.search_date('2017-04-01', '2017-04-30').count, 'policy') %><br>
--END--
<%#= link_to 'Edit', edit_production_path(@production) %>
<%#= link_to 'Back', productions_path %>

<%#= content_tag :div, page_entries_info(@productions) %>
<%#= paginate @productions, theme: 'twitter-bootstrap-4' %>
