<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Motor Policies</h1>

  <%= render 'search_bar' %>
  <br>

  <table class="table" border = 1>
    <thead>
      <tr>
        <%= content_tag :th, "Policy No" %>
        <%= content_tag :th, "Endorsement" %>
        <%= content_tag :th, "Issue Date" %>
        <%= content_tag :th, "Effective Date" %>
        <%= content_tag :th, "Expiry Date" %>
        <%= content_tag :th, "Vehicle" %>
        <%= content_tag :th, "Peril Name" %>
        <%= content_tag :th, "Sum Insured" %>
        <%= content_tag :th, "Premium" %>
        <%= content_tag :th, "Premium Rate" %>
      </tr>
    </thead>

    <tbody>
      <% @motor_policies.each do |policy| %>
        <tr>
          <%= content_tag :td, rowspan: policy.item_perils.count+1 do %>
            <%= policy.policy_no %>
            <%= content_tag :p, "ID: #{policy.policy_id}", class: 'small' %>
          <% end %>
          <%= content_tag :td, policy&.endorsemnt, rowspan: policy.item_perils.count+1 %>
          <%= content_tag :td, policy&.iss_date, rowspan: policy.item_perils.count+1 %>
          <%= content_tag :td, policy&.ef_date, rowspan: policy.item_perils.count+1 %>
          <%= content_tag :td, policy&.exp_date, rowspan: policy.item_perils.count+1 %>
          <%= content_tag :td, policy.vehicle&.vehicle_name, rowspan: policy.item_perils.count+1 %>

            <% policy.item_perils.each do |item| %>
              <tr>
                <%= content_tag :td, item.peril.shortname  %>
                <%= content_tag :td, currency(item&.tsi), class: "text-right" %>
                <%= content_tag :td, currency(item&.prem), class: "text-right" %>
                <%= content_tag :td, number_to_percentage(item.rate, precision: 4), class: "text-right" %>
              </tr>
            <% end %>

          <%#= content_tag :td, policy.vehicle&.vehicle_name %>
        </tr>
      <% end %>

    </tbody>
  </table>

  <p>
   <%= link_to "Print(PDF)", policies_path(@motor_policies, format: 'pdf', :start_date => params[:start_date], :end_date => params[:end_date]) %>

   <%= link_to "Print(CSV)", policies_path(@motor_policies, format: 'csv', :start_date => params[:start_date], :end_date => params[:end_date]) %>

  </p>
  <br>
  <%= content_tag :div, page_entries_info(@motor_policies) %>
   <%= will_paginate @motor_policies %>
</div>
